<article id="doc-cover">
    <!-- Logo section -->

    <!-- <h1>Weather forecast for Seattle</h1>
  <article class="day-forecast">
    <h2>03 March 2018</h2>
    <p>Rain.</p>
  </article>
  <article class="day-forecast">
    <h2>04 March 2018</h2>
    <p>Periods of rain.</p>
  </article>
  <article class="day-forecast">
    <h2>05 March 2018</h2>
    <p>Heavy rain.</p>
  </article> -->

  <div class="flex-container">
    <div class="formula-container">
      <!-- 公式内容 -->
      E = mc²
    </div>
    <div class="graph-container">
      <!-- 图形内容 -->
    </div>
  </div>
</article>


